body{
    background-image: url("pexels-eberhardgross-2098428.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#container{
    text-align:center;
    font-size:3.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}
#label{
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;

}


#check{
    text-align:center;
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
}
#numOfElements{
    text-align:center;
    font-size:30px;
    
}
#generate{
    color:white;
    background-image: linear-gradient(to right, rgb(225, 42, 185) , rgb(79, 87, 235));
    border:none;
    padding:0.5%;
    border-radius: 5%;
    font-size:40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
}
#generate:hover{
    background-image: linear-gradient(to right, rgb(253, 0, 198) , rgb(7, 16, 185));
}

#result1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    
}

#result2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    
}

